body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color:rgb(73, 100, 175) ;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.nav-right a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 20px;

}

.nav-right a:visited{
    text-decoration: none;
}

.post-entry {
    margin-bottom: 2rem;
    width: 50%;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: rgb(81, 134, 212);
}

p a, p a:visited{
    color: black;
    font-weight: 600;
    text-decoration: none;
}